* {
    margin: 0;
    padding: 0;
}

.im1 {
    align-items: center;
    padding-top: 5px;
    flex-shrink: 0;
}

.homecontainer {
    display: inline-flex;
    padding: 2px 212px;
    gap: 110px;
}

.nav_content {
    list-style: none;
    padding: 15px;
    display: flex;
    
}

.nav_container {
    position: sticky;
    top: 0;
    gap: 50px;
}

.li,
.a {
    padding: 5px;
    color: black;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    /* margin-left: 10px; */
    /* display: inline-block; */

}

.content1 {
    width: 100%;
    height: 100%;
    background-color: #031333;
    display: flex;
}

.content {
    color: #FFF;
    font-family: Poppins;
    font-size: 58px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
}

.con1 {
    /* width: 565px; */
    margin-right: 50px;
}

.sub {
    color: #F54C1E;
}

.content2 {
    margin: 10px 0px 0px 0px;
    color: #F4F3F3;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.para {
    padding: 100px 0px 20px 150px;
}

.b1 {
    border-radius: 2px;
    background: #F54C1E;
    padding: 14px 17px;
    margin: 20px 0px 0px 0px;
    border: none;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;

    /* 20px */
}

.b2 {
    color: #FFF;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    margin: 10px 0px 10px 0px;
    /* 14px */
    border-radius: 5px;
    background: #F54C1E;
    padding: 14px 17px;
    border: none;
}



.p1 {
    color: #F54C1E;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    /* 20px */
    letter-spacing: 4.2px;
    text-align: center;
}

.p3 {
    color: #031333;
    text-align: center;
    font-family: Poppins;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    margin-top: 15px;
    /* 53.2px */
}

/* .icon1{
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
} */
.con2 {
    padding: 110px 200px;

}

.icons {
    display: flex;
    text-align: center;
    gap: 110px;
    justify-content: center;
    margin-top: 76px;
}

.p2 {
    color: #031333;
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    margin-top: 20px;
    /* 28px */
}

.p4 {
    color: #949494;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin-top: 5px;

    /* 28.8px */
}

.p6 {
    color: #818181;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 25.6px */
}

.con_img {
    display: flex;
    gap: 20px;
}



.p7 {
    color: #F54C1E;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    /* 20px */
    letter-spacing: 4.2px;
}

.con3 {
    display: flex;
    gap: 72px;
    margin-top: 80px;
}

.img2 {
    padding-top: 40px;
}

.con_para {
    padding-top: 10px;

}

.p5 {
    margin-top: 15px;
}

.p6 {
    margin-top: 25px;
}

.pNo {
    color: #FFF;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    border-radius: 2px;
    background: #F54C1E;
    text-align: center;
    margin-top: 20px;
    padding: 14px 17px;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.con4 {
    background-color: #031333;
    padding: 100px;
}

.con4_img1 {
    width: 100%;
    height: 639px;

    /* background: linear-gradient(1deg, #FD5C30 0.53%, rgba(0, 0, 0, 0.00) 101.68%); */
    background-image: url(assets/ser3.png);
    background-repeat: no-repeat;
    background-size: cover;

}

.im2 {
    background-image: url(assets/ser4.png);
}

.he3 {
    color: #FFF;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    /* 42px */
}

.p8 {
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    /* 25.6px */
}

.con4_img {
    display: flex;
    gap: 52px;
    justify-content: center;
    margin-top: 40px;
}

/* .con4_img {
    width: 514px;
    height: 639px;
    /* background: linear-gradient(1deg, #FD5C30 0.53%, rgba(0, 0, 0, 0.00) 101.68%); */
/* background-image: url(assets/ser4.png);
    background-repeat: no-repeat;
    background-size: cover;
} */

.he1 {
    color: #F54C1E;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    /* 20px */
    letter-spacing: 4.2px;
}

.he2 {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    /* 67.2px */
}

.con5 {
    display: flex;
    gap: 80px;
    padding-top: 100px;
    align-items: center;
}

.con5_li {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;

}

.con5_para {
    width: 565.34px;
}

.li1 {

    color: #989898;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    /* 18px */
}

.con6 {
    padding-top: 80px;
}

.con6_img {
    display: flex;
    gap: 5px;
    margin-top: 50px;
}




.con4_para {
    background: linear-gradient(1deg, #FD5C30 0.53%, rgba(0, 0, 0, 0.00) 101.68%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.para1 {
    padding: 50px;
}


.con6_img1 {
    background-image: url(assets/ser8.png);
    width: 383px;
    height: 464px;
}

.con6_para {
    background: linear-gradient(1deg, #FD5C30 0.53%, rgba(0, 0, 0, 0.00) 101.68%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
@media (max-width: 820px) {
    .con6_img, .content1{
        /* display: flex; */
        flex-direction: column;
    }
    .content1{
        justify-content: center;
        width: 100%;
    }
    .con1{
        margin: 0;
    }
    .para{
        padding: 40px;
        text-align: center;
    }
    .con4_img{
        flex-direction: column;
    }
}


.con6_img2 {
    background-image: url(assets/ser9.png);
    width: 383px;
    height: 464px;
}

.con6_img3 {
    background-image: url(assets/ser10.png);
    width: 383px;
    height: 464px;
}

.con6_img4 {
    background-image: url(assets/ser11.png);
    width: 383px;
    height: 464px;
}

.para2 {
    padding: 35px;
}

.con7 {
    background-image: url(assets/ser12.png);
    /* width: 1604px; */
    height: 380px;
    margin-top: 80px;
}

.con7_img1 {
    background: rgba(3, 19, 51, 0.70);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.p9 {
    color: #FFF;
    font-family: Poppins;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 149.5%;

}

.para3 {
    padding-left: 150px;
    gap: 200px;
    display: flex;
}

.b3 {
    padding-top: 25px;
    height: 78px;
}

.con8 {
    padding-top: 100px;
}

.con8_img {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 70px;
}

.con8_para {
    padding-left: 20px;
    margin-top: 10px;
}

.he4 {
    color: #071440;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    /* 120% */
}

.par1 {
    color: #676972;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.36px;
    margin-top: 5px;
}

.con9 {
    background-color: #F3F3F3;

    height: 327px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 80px;
}

.par2 {
    color: #000;
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 159.5%;

}

.par3 {
    color: #000;
    font-family: Nunito Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    margin-top: 20px;
}

.con9_para {
    border-right: 2px solid;
    margin-right: 60px;
    padding-left: 200px;
    padding-right: 60px;
}

.but4 {
    display: inline-flex;
    height: 54px;
    padding: 14px 17px;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    background: #F54C1E;
    border: none;
    color: #FFF;
    font-family: Lato;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;

}

.cont1 {
    background: #031333;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 120px;
    padding: 60px 100px;
}

.par4 {
    color: #FDFDFD;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    margin-top: 20px;
}

.he5 {
    color: #FFF;
    font-family: Nunito Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 180%;
    /* margin-left: 5px; */
}

.list {
    list-style: none;

}

.loc_list {
    color: #FFF;
    font-family: Nunito Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    margin-top: 15px;
}

.svg {
    margin-top: 20px;
}